{% extends 'base.html.twig' %}

{% block body %}
    <form method="post">
        <div>
            <label>Pseudo</label>
            <input type="text" name="pseudo">
        </div>
        <div>
            <label>Email</label>
            <input type="email" name="email">
        </div>
        <div>
            <label>Date de naissance</label>
            <input type="date" name="birthdate">
        </div>
        <button type="submit">Enregistrer</button>
    </form>
{% endblock %}
